:root {
  --color-bg: #121212;
  --font-primary: 'Helvetica', sans-serif;
  --font-secondary: 'Times', serif;
}

*,
body,
div {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: var(--font-main);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-primary);
  font-weight: 700;
  letter-spacing: -2px;
}

.font-secondary {
  font-family: var(--font-secondary);
  font-style: italic;
  font-weight: 400;
}
